.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/examples/**/rsconnect
inst/tests/**/rsconnect
inst/examples/chat_widget
.DS_Store
.vscode
docs
inst/examples/chat_widget
inst/tests/**
node_modules
*_.new.png
