/* Below is the code necessary to create the
   design of the sheet modal swipe handler and
   to set rounded corners for sheet-modal
*/

/* sheet-modal will have rounded corners */
.sheet-modal {
    border-radius: 15px 15px 0 0;
    overflow: hidden
}

.swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    cursor: pointer;
    z-index: 10
}

.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666
}

/* Limit resizable panel width */
.panel {
  min-width: 100px;
  max-width: 90vw;
}


/* Disable text selection */
body {
  -webkit-user-select: none;
  -webkit-tap-highligth-color: transparent;
  -webkit-touch-callout: none;
}
