/* Add rounded corners to the top left and the top right corner of the image */
  .img-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
  }

.img-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
