/* Below is the code necessary to handle
   the sheet modal swipe handler when the
   sheet is open
*/
.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #848c99;
  }

  .light .split-layout .page-content:not(.login-screen-content, .panel-content),
  .light div.messages {
    background-color: white;
  }

  .panel.theme-dark {
    --f7-panel-bg-color: #000;
  }

  /* FAB label in dark mode */
  .theme-dark .fab-label {
    background-color: #333;
    color: white;
  }

  /* Cards Demo */
.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.md .demo-card-header-pic .card-header {
  margin: 0 16px 16px;
  border-radius: 16px;
  position: relative;
  top: 16px;
}
.demo-card-header-pic .card-content-padding .date {
  color: #8e8e93;
}

/* Sticky list index, to be able to add list index to a specific list */
.sticky-list-index {
  position: sticky;
  margin-left: auto;
  top: 50%;
}

/* Don't display panel open button when panel in breakpoint (split layout) */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/* split layout border to visually separate sidebar from main content */
.dark .split-layout .panel-left.panel-in-breakpoint .page {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.light .split-layout .panel-left.panel-in-breakpoint .page {
  border-right: 1px solid gainsboro;
}
